@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}


* {
    font-family: system-ui;
}

.min-h-section {
  
    min-height:calc(100vh - 6rem)   

}

.h-section {
  
    height:calc(100vh - 6rem)   

}

.h-project {

    height: calc(100vh - 18rem);

}

.bg-fit-y {

    background-size: auto 100%;

}

