@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 12px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 400;
}

.scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: #2A748B;
  }